::-moz-focus-inner
{
	border: 0;
} 

button
{
	border-style: solid;
	border-width: var(--button-base-stroke-width, 6px);
	border-radius: var(--button-base-corner-radius);
	outline: none;

	padding: var(--button-base-layout-padding, 7px 15px);

	font-family: var(--button-content-font-family);
	font-size: var(--button-content-font-size);
	font-weight: var(--button-content-font-weight);
	line-height: var(--button-content-font-lineheight);

	color: var(--button-content-fill-color-rest, pink);
	background-color: var(--button-base-fill-color-rest, magenta);
	border-color: var(--button-base-stroke-color-rest, cyan);

	user-select: none;
}
button:focus-visible
{
	outline: 2px solid black;
	outline-offset: 2px;
}
button:hover
{
	color: var(--button-content-fill-color-hover, pink);
	background-color: var(--button-base-fill-color-hover, magenta);
	border-color: var(--button-base-stroke-color-hover, cyan);
}
button:active
{
	color: var(--button-content-fill-color-pressed, pink);
	background-color: var(--button-base-fill-color-pressed, magenta);
	border-color: var(--button-base-stroke-color-pressed, cyan);
}
button[disabled]
{
	color: var(--button-content-fill-color-disabled, pink);
	background-color: var(--button-base-fill-color-disabled, magenta);
	border-color: var(--button-base-stroke-color-disabled, cyan);
}
button[data-checked]
{
	color: var(--button-content-fill-color-selected-rest, pink);
	background-color: var(--button-base-fill-color-selected-rest, magenta);
	border-color: var(--button-base-stroke-color-selected-rest, cyan);
}
button:hover
{
	color: var(--button-content-fill-color-selected-hover, pink);
	background-color: var(--button-base-fill-color-selected-hover, magenta);
	border-color: var(--button-base-stroke-color-selected-hover, cyan);
}
button:active
{
	color: var(--button-content-fill-color-selected-pressed, pink);
	background-color: var(--button-base-fill-color-selected-pressed, magenta);
	border-color: var(--button-base-stroke-color-selected-pressed, cyan);
}
button[disabled]
{
	color: var(--button-content-fill-color-selected-disabled, pink);
	background-color: var(--button-base-fill-color-selected-disabled, magenta);
	border-color: var(--button-base-stroke-color-selected-disabled, cyan);
}


button.accent
{
	border-style: solid;
	border-width: var(--buttonprimary-base-stroke-width, 6px);
	border-radius: var(--buttonprimary-base-corner-radius);
	outline: none;

	padding: var(--buttonprimary-base-layout-padding, 7px 15px);

	font-family: var(--buttonprimary-content-font-family);
	font-size: var(--buttonprimary-content-font-size);
	font-weight: var(--buttonprimary-content-font-weight);
	line-height: var(--buttonprimary-content-font-lineheight);

	color: var(--buttonprimary-content-fill-color-rest, pink);
	background-color: var(--buttonprimary-base-fill-color-rest, magenta);
	border-color: var(--buttonprimary-base-stroke-color-rest, cyan);

	user-select: none;
}
button.accent:focus-visible
{
	outline: 2px solid black;
	outline-offset: 2px;
}
button.accent:hover
{
	color: var(--buttonprimary-content-fill-color-hover, pink);
	background-color: var(--buttonprimary-base-fill-color-hover, magenta);
	border-color: var(--buttonprimary-base-stroke-color-hover, cyan);
}
button.accent:active
{
	color: var(--buttonprimary-content-fill-color-pressed, pink);
	background-color: var(--buttonprimary-base-fill-color-pressed, magenta);
	border-color: var(--buttonprimary-base-stroke-color-pressed, cyan);
}
button.accent[disabled]
{
	color: var(--buttonprimary-content-fill-color-disabled, pink);
	background-color: var(--buttonprimary-base-fill-color-disabled, magenta);
	border-color: var(--buttonprimary-base-stroke-color-disabled, cyan);
}
button.accent[data-checked]
{
	color: var(--buttonprimary-content-fill-color-selected-rest, pink);
	background-color: var(--buttonprimary-base-fill-color-selected-rest, magenta);
	border-color: var(--buttonprimary-base-stroke-color-selected-rest, cyan);
}
button.accent:hover
{
	color: var(--buttonprimary-content-fill-color-selected-hover, pink);
	background-color: var(--buttonprimary-base-fill-color-selected-hover, magenta);
	border-color: var(--buttonprimary-base-stroke-color-selected-hover, cyan);
}
button.accent:active
{
	color: var(--buttonprimary-content-fill-color-selected-pressed, pink);
	background-color: var(--buttonprimary-base-fill-color-selected-pressed, magenta);
	border-color: var(--buttonprimary-base-stroke-color-selected-pressed, cyan);
}
button.accent[disabled]
{
	color: var(--buttonprimary-content-fill-color-selected-disabled, pink);
	background-color: var(--buttonprimary-base-fill-color-selected-disabled, magenta);
	border-color: var(--buttonprimary-base-stroke-color-selected-disabled, cyan);
}


button.outline
{
	border-style: solid;
	border-width: var(--buttonoutline-base-stroke-width, 6px);
	border-radius: var(--buttonoutline-base-corner-radius);
	outline: none;

	padding: var(--buttonoutline-base-layout-padding, 7px 15px);

	font-family: var(--buttonoutline-content-font-family);
	font-size: var(--buttonoutline-content-font-size);
	font-weight: var(--buttonoutline-content-font-weight);
	line-height: var(--buttonoutline-content-font-lineheight);

	color: var(--buttonoutline-content-fill-color-rest, pink);
	background-color: var(--buttonoutline-base-fill-color-rest, magenta);
	border-color: var(--buttonoutline-base-stroke-color-rest, cyan);

	user-select: none;
}
button.outline:focus-visible
{
	outline: 2px solid black;
	outline-offset: 2px;
}
button.outline:hover
{
	color: var(--buttonoutline-content-fill-color-hover, pink);
	background-color: var(--buttonoutline-base-fill-color-hover, magenta);
	border-color: var(--buttonoutline-base-stroke-color-hover, cyan);
}
button.outline:active
{
	color: var(--buttonoutline-content-fill-color-pressed, pink);
	background-color: var(--buttonoutline-base-fill-color-pressed, magenta);
	border-color: var(--buttonoutline-base-stroke-color-pressed, cyan);
}
button.outline[disabled]
{
	color: var(--buttonoutline-content-fill-color-disabled, pink);
	background-color: var(--buttonoutline-base-fill-color-disabled, magenta);
	border-color: var(--buttonoutline-base-stroke-color-disabled, cyan);
}
button.outline[data-checked]
{
	color: var(--buttonoutline-content-fill-color-selected-rest, pink);
	background-color: var(--buttonoutline-base-fill-color-selected-rest, magenta);
	border-color: var(--buttonoutline-base-stroke-color-selected-rest, cyan);
}
button.outline:hover
{
	color: var(--buttonoutline-content-fill-color-selected-hover, pink);
	background-color: var(--buttonoutline-base-fill-color-selected-hover, magenta);
	border-color: var(--buttonoutline-base-stroke-color-selected-hover, cyan);
}
button.outline:active
{
	color: var(--buttonoutline-content-fill-color-selected-pressed, pink);
	background-color: var(--buttonoutline-base-fill-color-selected-pressed, magenta);
	border-color: var(--buttonoutline-base-stroke-color-selected-pressed, cyan);
}
button.outline[disabled]
{
	color: var(--buttonoutline-content-fill-color-selected-disabled, pink);
	background-color: var(--buttonoutline-base-fill-color-selected-disabled, magenta);
	border-color: var(--buttonoutline-base-stroke-color-selected-disabled, cyan);
}


button.ghost
{
	border-style: solid;
	border-width: var(--buttonghost-base-stroke-width, 6px);
	border-radius: var(--buttonghost-base-corner-radius);
	outline: none;

	padding: var(--buttonghost-base-layout-padding, 7px 15px);

	font-family: var(--buttonghost-content-font-family);
	font-size: var(--buttonghost-content-font-size);
	font-weight: var(--buttonghost-content-font-weight);
	line-height: var(--buttonghost-content-font-lineheight);

	color: var(--buttonghost-content-fill-color-rest, pink);
	background-color: var(--buttonghost-base-fill-color-rest, magenta);
	border-color: var(--buttonghost-base-stroke-color-rest, cyan);

	user-select: none;
}
button.ghost:focus-visible
{
	outline: 2px solid black;
	outline-offset: 2px;
}
button.ghost:hover
{
	color: var(--buttonghost-content-fill-color-hover, pink);
	background-color: var(--buttonghost-base-fill-color-hover, magenta);
	border-color: var(--buttonghost-base-stroke-color-hover, cyan);
}
button.ghost:active
{
	color: var(--buttonghost-content-fill-color-pressed, pink);
	background-color: var(--buttonghost-base-fill-color-pressed, magenta);
	border-color: var(--buttonghost-base-stroke-color-pressed, cyan);
}
button.ghost[disabled]
{
	color: var(--buttonghost-content-fill-color-disabled, pink);
	background-color: var(--buttonghost-base-fill-color-disabled, magenta);
	border-color: var(--buttonghost-base-stroke-color-disabled, cyan);
}
button.ghost[data-checked]
{
	color: var(--buttonghost-content-fill-color-selected-rest, pink);
	background-color: var(--buttonghost-base-fill-color-selected-rest, magenta);
	border-color: var(--buttonghost-base-stroke-color-selected-rest, cyan);
}
button.ghost:hover
{
	color: var(--buttonghost-content-fill-color-selected-hover, pink);
	background-color: var(--buttonghost-base-fill-color-selected-hover, magenta);
	border-color: var(--buttonghost-base-stroke-color-selected-hover, cyan);
}
button.ghost:active
{
	color: var(--buttonghost-content-fill-color-selected-pressed, pink);
	background-color: var(--buttonghost-base-fill-color-selected-pressed, magenta);
	border-color: var(--buttonghost-base-stroke-color-selected-pressed, cyan);
}
button.ghost[disabled]
{
	color: var(--buttonghost-content-fill-color-selected-disabled, pink);
	background-color: var(--buttonghost-base-fill-color-selected-disabled, magenta);
	border-color: var(--buttonghost-base-stroke-color-selected-disabled, cyan);
}
